In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.dates as mdates

import math

In [3]:
#加载时间
timelist = []
for i in range(12):
    timelist.append(str(201101 + i))
    
for i in range(12):
    timelist.append(str(201201 + i))
    
for i in range(12):
    timelist.append(str(201301 + i))

for i in range(12):
    timelist.append(str(201401 + i))
    
for i in range(12):
    timelist.append(str(201501 + i))
    
for i in range(12):
    timelist.append(str(201601 + i))

for i in range(12):
    timelist.append(str(201701 + i))
    
for i in range(12):
    timelist.append(str(201801 + i))

for i in range(12):
    timelist.append(str(201901 + i))
    
for i in range(12):
    timelist.append(str(202001 + i))
    
for i in range(5):
    timelist.append(str(202101 + i))

In [71]:
#将所有日期数据合并
alldata = pd.DataFrame(columns=['rtTitle', 'ptTitle', 'TradeValue', 'monthdate'])
for i in timelist:
    result = pd.read_csv(i + '_APEC_import_trade.csv')
    result['monthdate'] = i
    alldata=pd.concat([alldata, result])
    
#获取每个国家每个月进口总额
alldata['TradeValue'] = pd.to_numeric(alldata['TradeValue'], downcast='float')
month_total = alldata[alldata['ptTitle'] == 'World']
month_total['TradeValue'] = month_total['TradeValue']/(10 ** 9)
#获取国家名code映射
counrty_code = pd.read_csv('nodes.csv')
code_book = pd.read_csv('codebook.csv', header=None, sep="	")
code_book.columns = ['0','country_code','Label','3','4','5','6','7']

#获取各个国家的code
month_total.columns=['Id', 'ptTitle', 'TradeValue', 'monthdate']
month_total_2 = pd.merge(counrty_code, month_total, on='Id',how='right')
month_total_id = pd.merge(code_book, month_total_2, on='Label',how='inner')
month_total_id['monthdate'] = pd.to_datetime(month_total_id['monthdate'].astype('str'),format = '%Y%m')

C:\Users\yuwang\AppData\Local\Temp\ipykernel_11092\1511123052.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  month_total['TradeValue'] = month_total['TradeValue']/(10 ** 9)

In [72]:
#保存结果
new_dataframe = month_total_id['country_code'].unique()
new_dataframe.sort()
result_frame = ['month']
for i in new_dataframe:
    #去除塞尔维亚和黑山 SC
    if i == 'SC':
        continue
    result_frame.append(i)
result_pd = pd.DataFrame(columns = result_frame)

In [73]:
#将国家转化为列输出，空值为0
import_data = month_total_id[['monthdate','country_code','TradeValue']]
for month in import_data['monthdate'].unique():
    fill_country_list = [month]
    for country in new_dataframe:
        #去除塞尔维亚和黑山 SC
        if country == 'SC':
            continue
        if(import_data[(import_data['monthdate'] == month) & (import_data['country_code'] == country)].empty == 0):
            fill_country_list.append(import_data[(import_data['monthdate'] == month) & (import_data['country_code'] == country)].iloc[0,2])
        else:
            fill_country_list.append(0)
    result_pd.loc[len(result_pd)] = fill_country_list

In [74]:
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 20)
result_pd.to_csv('201101_202105_import.csv',index = False)

In [41]:
import_data = month_total_id[['monthdate','Id','TradeValue']]
fill_country_list = []
#将空值补齐，并转化为nan
for country in month_total_id['Id'].unique():
    for month in import_data['monthdate'].unique():
        if(import_data[(import_data['monthdate'] == month) & (import_data['Id'] == country)].empty == 1):
            print(month,country)
            #import_data.loc[len(import_data)] = [month,country,None]
#             fill_country_list.append(country)
#             print(month,country)
#             break

10.52114
10.2131815
8.32689
11.159185
9.728999
10.601317
10.819337
10.165529
9.399993
10.389735
9.443615
9.747618
10.560758
10.208393
11.232488

In [61]:
result_pd

,month,Australia,Brunei Darussalam,Canada,Chile,China,"China, Hong Kong SAR",Indonesia,Japan,Rep. of Korea,Malaysia,Mexico,New Zealand,Peru,Philippines,Russian Federation,Singapore,Thailand,United States of America,Viet Nam
0,2011-01-01,10.213181,8.326890,10.521140,9.728999,11.159185,10.601317,0.000000,10.819337,0.000000,10.165529,10.389735,9.399993,9.443615,9.747618,0.000000,10.560758,10.208393,11.232488,0.000000
1,2011-02-01,10.240534,8.638460,10.519489,9.715638,11.017301,10.521689,0.000000,10.777184,0.000000,10.109612,10.405882,9.447448,9.419051,9.698335,0.000000,10.496491,10.263783,11.206606,0.000000
2,2011-03-01,10.289143,8.397371,10.599415,9.809188,11.182015,10.625051,0.000000,10.841243,0.000000,10.221066,10.475658,9.478530,9.470275,9.764927,0.000000,10.626565,10.319695,11.279972,0.000000
3,2011-04-01,10.280149,8.316500,10.572163,9.772544,11.159155,10.587265,0.000000,10.829178,0.000000,10.190950,10.434585,9.444017,9.496823,9.760888,0.000000,10.581367,10.236952,11.261432,0.000000
4,2011-05-01,10.300382,8.385859,10.581180,9.794023,11.158695,10.616889,0.000000,10.839567,0.000000,10.189216,10.484894,9.505046,9.519198,9.714816,0.000000,10.594015,10.278723,11.285394,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,2019-10-01,0.000000,0.000000,0.000000,9.771105,11.232856,10.691172,10.169060,10.783316,10.616835,10.243014,0.000000,0.000000,9.584130,10.001992,10.367735,10.489029,0.000000,11.352503,10.349723
121,2020-06-01,0.000000,0.000000,0.000000,9.625864,11.226709,10.665198,10.031825,10.680282,0.000000,10.168272,10.439803,9.475663,0.000000,9.866498,0.000000,10.401272,10.171255,11.266904,10.316243
122,2012-12-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.192620,10.851879,0.000000,10.205268,10.465500,9.473675,9.509973,9.748275,0.000000,10.561678,10.310955,11.259069,0.000000
123,2012-06-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.847541,0.000000,10.211764,10.472136,9.479434,0.000000,0.000000,0.000000,10.615129,10.305115,11.293937,0.000000
124,2015-08-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.541213,0.000000,10.529305,9.493237,9.512941,9.804830,10.192696,10.379230,10.229106,0.000000,0.000000